# For more information see: https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,cs}]
indent_size = 4

[*.txt]
indent_size = 1
trim_trailing_whitespace = false
insert_final_newline = false
