name: 'cli'

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v3.0.0'

      - name: 'Use Node.js'
        uses: 'actions/setup-node@v3.0.0'
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: 'Install'
        run: 'npm install'

      - run: 'npm run lint:commit -- --to "${{ github.sha }}"'
      - run: 'npm run lint:editorconfig'
      - run: 'npm run lint:markdown'
      - run: 'npm run lint:typescript'

  build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v3.0.0'

      - name: 'Use Node.js'
        uses: 'actions/setup-node@v3.0.0'
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: 'Install'
        run: 'npm install'

      - name: 'Build'
        run: 'npm run build'

  test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v3.0.0'

      - name: 'Use Docker'
        uses: 'actions-hub/docker/cli@master'
        env:
          SKIP_LOGIN: true

      - name: 'Use Node.js'
        uses: 'actions/setup-node@v3.0.0'
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: 'Install'
        run: 'npm install'

      - name: 'Test'
        run: 'npm run test'
